@font-face {
  font-family: 'Futura';
  src:
    url('../fonts/FuturaBookfont.woff') format("woff"),
    url('../fonts/FuturaBookfont.ttf') format("ttf");
}

:root {
  --main: #000000;
}

::-moz-selection {
  background: #000000;
  text-shadow: none;
}

::selection {
  background: #000000;
  text-shadow: none;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: var(--main);
  background-color: #ffffff;
}

.ph {
  display: none;
}

.hidden {
  display: none;
}

/* user css */

.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 159px;
}

.header-navbar {
  position: absolute;
  top: 40px;
  right: 178px;
  z-index: 3;
  font-family: 'Futura';
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: right;
}

.navbar-wrapper {
  display: none;
}

.nav-menu {
  position: relative;
  right: 55px;
  top: 22px;
}

.nav-title {
  font-family: 'Rounded Mplus 1c';
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.nav-item a:-webkit-any-link {
  color: #000000;
}

/* burger */

.bg-burger {
  height: 810px;
  min-width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
}

/* products-text */

span {
  display: block;
}

.products {
  margin-bottom: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.products-text {
  max-width: 792px;
  max-height: 155px;
  margin-top: 60px;
  text-align: right;
}

#products-text {
  display: none;
}

.products-text__title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
}

.products-text__desc {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
}

.product-button {
  padding-right: 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  background-image: url('../img/btn-vector.svg');
  background-position: right;
  background-repeat: no-repeat;
}

.product {
  width: 285px;
  height: 445.5px;
  margin: 32px 0 0 18px;
  background-color: #F4F5F7;
}

#product-item {
  display: none;
}

/* products item */

.swiper-products__wrapper {
  height: 494px;
}

.product-slide {
  max-width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-slide > img {
  width: 50%;
}

.product-item__title {
  height: 60px;
  font-family: 'Futura';
  line-height: 30px;
  text-align: center;
}

.product-item__price {
  width: 90%;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
}

.product-item__price-idk {
  font-size: 14px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
}

.product-item__price-text {
  flex-basis: 21%;
  font-weight: 500;
  line-height: 30px;
}

.product-item__button {
  width: 250px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  border: 1px solid #000000;
}

.product-slide > a:-webkit-any-link {
  color: #000000;
}

@media all and (max-width: 426px) {
  .pc {
    display: none;
  }
  .ph {
    display: block;
  }

  /* header */

  .header-navbar {
    top: 25px;
    right: 40px;
  }

  /* main */

  .container {
    padding: 0px 30px;
  }

  .products {
    margin-bottom: 60px;
  }

  .products-text {
    max-height: 284px;
  }

  .swiper-products__container {
    height: 1287px;
  }

  .product-slide {
    max-width: 100%;
  }

  .product-item__title {
    height: 30px;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }
}